---
import ProjectLayout from "@/layouts/project-layout.astro";




 

const { project } = Astro.props;
---

<ProjectLayout 
  title={project.name}
  description={project.description}
  technologies={project.technologies}
  sourceCode={project.sourceCode}
>
  <p>{project.description}</p>
  {project.sourceCode && (
    <p>
      Git Repository: 
      <a href={project.sourceCode} target="_blank" rel="noopener noreferrer">
        {project.sourceCode}
      </a>
    </p>
  )}
</ProjectLayout>